<app-navbar></app-navbar>
<div class="container container-wrapper d-flex justify-content-center align-items-center">
  <div class="form-wrapper text-center">

    <h2 class="text-center"> Sign Up </h2>
    <form [formGroup]="signupForm" novalidate
          (submit)="submit()">
      <!-- The `novalidate` attribute in the <form> element prevents the browser
           from attempting native HTML validations. -->

      <!-- First and Last Name -->
      <div class="name-wrapper d-flex">
        <div class="form-group mr-2">
          <input id="firstname-input" type="text" class="form-control"
                 placeholder="First Name"
                 formControlName="firstName">
        </div>

        <div class="form-group ml-2">
          <input id="lastname-input" type="text" class="form-control"
                 placeholder="Last Name"
                 formControlName="lastName">
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <input id="email-input" type="email" class="form-control"
               placeholder="Enter Email"
               formControlName="email">
      </div>

      <!-- Password -->
      <div class="form-group">
        <input id="password-input" type="password" class="form-control"
               placeholder="Password"
               formControlName="password">
      </div>

      <button type="submit" class="btn btn-primary btn-block"
              [disabled]="!signupForm.valid">
        Submit
      </button>

    </form>
    <small><a routerLink="/login">Already have an Account?</a></small>

  </div>
</div>
