/* You can add global styles to this file, and also import other style files */

// Import global variables
@import 'variables';

// Import the common styles for Bootstrap
@import 'bootstrap-vendor';


body {
  color: $secondary;
}

.container-wrapper {
  height: calc(100vh - 60px) !important;
}

.navbar {
  height: 60px;
}

button {
  &.btn {
    border-radius: 0;

    &:focus {
      box-shadow: none;
    }
  }
}
